# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/asp_db?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_TRACKING_DOMAIN="http://localhost:3000"
